:root{
  /*   Colores   */
  --blanco: #FFFFFF;
  --negro: #1B1A1A;

  
}

*{
  margin: 0;
  padding: 0;
}

/* Encabezado */
header{
  background-color: var(--negro);
  color: var(--blanco);

}

.contenedor{
  display: flex;
  justify-content: space-between;
}

.menu li{
  list-style: none;
  display: inline-block;
  padding: 5px;

}
.link-menu{
  color: var(--blanco);
  text-decoration: none;
}

/* Contenido principal */
/* Main */
main{
  margin: 10px;
  float: left;
}

article{
  width: 90%;
  padding: 20px;
}

article img{
  padding: 20px;
  width: 20%;
}

article button{
  padding: 5px;
  text-align: center;
  width: 50%;
}

/* Aside */
aside{
  display: inline-block;
  float: right;
  margin: 10px;
  padding: 20px;
  border-left: 4px solid var(--negro);
}

.menu-aside li{
  list-style: none;
  display: block;
  padding: 5px;
}

.menu-aside li img{
  width: 200px;
  display: block;
  padding: 5px;
}

.menu-aside li button{
  padding: 5px;
  text-align: center;
  width: 50%;
}

.link-menu-aside{
  color: var(--negro);
  text-decoration: none;
}

/* Pie de la pagina */
footer{
  background-color: var(--negro);
  color: var(--blanco);
  position: fixed;
  bottom: 0;
  width: 100%;
}